/* DESCRIPCION:

    Los estilos creados en este archivo serviran para las vistas como:
    - Datos Personales.
    - Datos del Terreno.
    - Añadir Siembra.   

*/ 

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

label{
    font-weight: bold;
}

nav ul>li:hover{
    background-color: rgba(143, 243, 139, 0.942);
}

nav > ul > li:hover > ul{
    display: inline-block;
}
nav ul{
    list-style: none;
    width: 100%;
}
/* nav ul>li:hover{
    background-color: aquamarine;
} */
nav > ul > li > ul{
    display: none;
    position: absolute;
    width: 160px;
    background-color: white;
    border: 1px black solid;
    z-index: 1;
}
nav{
    width: 90%;
    height: 40%;
    /* display: inline-block; 
    margin: auto;
    /* background: aqua;*/ 
}
.nav-menu{
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif ;
}



