
 .fondo{
    height: 100vh;
 }
 .fondo img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .fondo img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  .registro{
    height: 100vh;
    overflow-y: scroll;
  }
  .registro-cabecera{
    margin-top: 20px;
  }
  