*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    column-count: 2;
}

input {
    background-color: #affaed;
}

.aceptar {
    background-color: greenyellow;
}

.limpiar{
    background-color: yellow;
}

.contenido{
    display: inline-block;
}

img, h1{
    display: inline-block;
}

.fondo{
    box-sizing: content-box;
    
}

.logo{
    width: 800px;
}

