<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Siembra</title>
</head>
<body>
    <header>
        <img src="/SARP/views/images/siembra.png" alt="">
        <h1>Añadir Siembra</h1> <hr>
    </header>
    <nav>
        <a href="./addSiembra.html">Datos Personales</a>
        <a href="./datosBancarios.html">Datos Bancarios</a>
        <a href="./datosTerreno.html">Datos del Terreno</a> 
        Manejo de Siembra
        <a href="./addSiembra.html">Añadir Siembra</a> 
        <a href="./consultarSiembra.html">Consultar Siembra</a> 
        Notificaciones
        <a href="./solicitudesPendientes.html">Solicitudes Pendientes</a>
        <a href="./solicitudesAceptadas.html">Solicitudes Aceptadas</a>
        <a href="./solicitudesPospuestas.html">Solicitudes Pospuestas</a>
        <img src="/SARP/views/images/LOGOTIPO SARP+.png" alt="">
    </nav>
    <div class="contenido">
        <form action="">
            Fecha de Inicio:
            <input type="text" name="" id="">
            Variedad:
            <input type="text" name="" id="">
            Fecha Estimada de Cosecha:
            <input type="text" name="" id="">
            Héctareas sembradas:
            <input type="text" name="" id="">
            Rendimiento Esperado:
            <input type="text" name="" id="">
            Kilos Totales por Lote:
            <input type="text" name="" id="">
            ID del Lote Generado:
            <input type="text" name="" id="">
            <button type="reset">Limpiar</button>
            <button>Terminar Registro</button>
            <button>Terminar y Añadir Otro</button>
        </form>
    </div>
</body>
</html>